@import "tailwindcss";
body{
      font-family: "Poppins", sans-serif;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
}
.hero{
   background-image: linear-gradient(135deg, rgba(160, 45, 102, 0.9), rgba(131, 60, 197, 0.9), rgba(82, 84, 211, 0.9)), url('../src/assets/hero-bg.avif');
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
}
.btn::before{
 content: '';
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 left: 48px;
 height: 1px;
 width: 120px;
 background-color: indigo;
}