@import "tailwindcss";
body{
      font-family: "Poppins", sans-serif;
      padding: 0;
      margin: 0;
}
.hero{
   background-image: linear-gradient(135deg, rgba(160, 45, 102, 0.9), rgba(131, 60, 197, 0.9), rgba(82, 84, 211, 0.9)), url('../src/assets/bg-img.avif');
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
}